# MedSeRL Multi-Turn PPO Configuration for verl
# Follows verl's gsm8k_multiturn_grpo_w_interaction.yaml pattern exactly
#
# Usage: python -m verl.trainer.main_ppo --config-path=<path> --config-name=ppo_multiturn
# See: https://verl.readthedocs.io/en/latest/sglang_multiturn/multiturn.html

hydra:
  searchpath:
    - pkg://verl.trainer.config

defaults:
  - ppo_trainer
  - _self_

data:
  max_prompt_length: 1024
  max_response_length: 2048
  train_batch_size: 16
  return_raw_chat: True

actor_rollout_ref:
  hybrid_engine: True
  rollout:
    name: sglang
    multi_turn:
      enable: True
      max_user_turns: 2
      max_assistant_turns: 2

